body {
    color: #222222;
    font-family: "Hoefler Text",Palatino,Georgia,serif;
    font-size: 20px;
    line-height: 1.5em;
    margin-top:50px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: inherit;
    font-family: "Hoefler Text",Palatino,Georgia,serif;
    font-weight: 500;
    line-height: 1.1;
    border-bottom: 1px dotted #222222;
    padding:4px;
}